@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  background-color: #2B345F !important;
}
main {
  background-color: white !important;
}
.navbar-menu{
  padding-bottom:0px !important;
  background-color: #31417F !important;
  color:#fff !important;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}
.navbar-menu a{
  color:#fff !important;
}
.navbar-menu p{
  color:#fff !important;
}
Navbar.Text{
  color:#fff !important;
}
.footer{
  background-color: #31417F !important;
  color: #fff;
 
}
.bottom-text{
  background-color: #2B345F !important;
  padding:7px 0px 0px 0px !important;
  margin: 0px -11px 0px -11px !important;
  text-align: center;
  color:darkcyan;
}