.fondoTitulares{
    display:block;
    background-color:#32117d;
    width: 100%;
}
.contenedorTitulares{
    padding-top: 15px;
    padding-bottom: 15px;
}
.contenedorVideogames{
    padding-top: 15px;
    padding-bottom: 15px;
}

.titular{
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 55%; /* Proporción de la imagen */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
} 
.subTitular{
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 60%; /* Proporción de la imagen */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
} 
.nota{
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 60%; /* Proporción de la imagen */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
} 

.subText{
    color:white;
    margin:10px 10px 0px 0px;
}
.subNota{
    color:#2e2d2d;
    margin:10px 10px 0px 0px;
}

.contenedorVideogames .subNota{
    margin:10px 10px 0px 0px;
}
.contenedorVideogames .subNota h5{
    color:#fff;
    font-weight: 300;
}
.contenedorVideogames h3{
    color:#fff;
    font-weight: 300;
}
.contenedorVideogames p{
    color:#fff;
    font-weight: 300;
}
.contenedorVideogames p:hover {
    cursor: pointer;
}
.overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
  }
.texto{
    display:flex;
    flex-direction: column;
    justify-content: center;
}
/*Fuentes*/
.titular h3{
    font-size:24px;
}
.subText h5{
    font-size:18px;
}

.news:hover {
    cursor: pointer;
}

.button{
    color: blue;
}

.button:disabled{
    color: rgba(168, 168, 168, 0.932);
}

@media screen and (max-width: 1398px) {
    .titular{
        padding-bottom: 60%; /* Proporción de la imagen */
    } 
}
@media screen and (max-width: 1200px) {
    .titular{
        padding-bottom: 70%; /* Proporción de la imagen */
    } 
}
@media screen and (max-width: 991px) {
    .titular{
        padding-bottom: 86%; /* Proporción de la imagen */
    } 
    .subText h5{
        font-size:16px;
    }
    .subNota h5{
        font-size:16px;
    }
}
@media screen and (max-width: 768px) {
    .subText h5{
        font-size:18px;
    }
    .subNota h5{
        font-size:18px;
    }
}
